In [1]:
import spacy
import pandas as pd
import itertools
import os
import numpy as np

In [2]:
nlp = spacy.load('pt')

pwd = %pwd
pwd = os.path.join(os.path.dirname(pwd), 'data')
data = pd.read_csv(os.path.join(pwd, 'input/data_full.csv'), sep=';').replace({np.NaN: None})

data = data.head(10)

In [3]:
list_sentence = data.Sentença.tolist()
d = []

for sentence in list_sentence:
    doc = nlp(sentence)
    entities = doc.ents
    vector_entities = [entidade.text for entidade in entities if len(entidade.text) > 1]
    
    if (len(set(vector_entities))) > 1:
        for comb in itertools.combinations(set(vector_entities), 2):
            ent1 = comb[0]
            ent2 = comb[1]

            d.append(
                {
                    'Sentença': sentence,
                    'Entidade 1': ent1,
                    'Tipo Entidade 1': "",
                    'Relacao': "",
                    'Entidade 2 ': ent2,
                    'Tipo Entidade 2 ': ""
                }
            )
    else:
        print('Sentença \' ' + sentence + ' \' possui apenas 1 entidade identificada. Verifique.')
        print(set(vector_entities))

df = pd.DataFrame(d)
df.head(5)

,Sentença,Entidade 1,Tipo Entidade 1,Relacao,Entidade 2,Tipo Entidade 2
0,A Kroton anunciou uma parceria com o Cubo Itaú...,Kroton,,,Cubo Itaú,
1,A Kroton anunciou uma parceria com o Cubo Itaú...,Kroton,,,“Cubo Education”,
2,A Kroton anunciou uma parceria com o Cubo Itaú...,Cubo Itaú,,,“Cubo Education”,
3,O evento Summit AgriHub reuniu nesta quinta-fe...,Brasil,,,Summit AgriHub,
4,O evento Summit AgriHub reuniu nesta quinta-fe...,Brasil,,,Cuiabá,